.modal__analytics {
    @include size(40%, 60%);
    @include flex(column, space-around, center);
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 5px rgba($comodo-blue, .5);
    h2 {
        margin-bottom: 0;
        padding-top: 2rem;
    }
    & > .fas {
        color: $comodo-blue;
        font-size: 2.5rem;
        font-weight: bolder;
        position: absolute;
        top: 2rem;
        right: 2rem;
        &:hover {
            transform: scale(1.3);
            color: red;
            cursor: pointer;
        }
    }
}