$comodo-blue: #2A58AD;
$comodo-blue-dark: #22577A;
$input-bg: #F8F5F5;
$input-grey: #9A9A9A;

$available-table: #f7da38;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}