.reservation--menu {
    position: absolute;
    right: 0;
    background-color: rgb(235, 235, 235);
    width: 25%;
    height: 95vh;
    border-radius: 10px 0 0 10px;
    transition: right .5s;
    z-index: 2;
        form {
            text-align: center;
            margin: 20px auto;
            width: 100%;
            input[type="text"]{
                width: 90%;
                height: 3rem;
                padding: 1.5rem 0;
                text-indent: 1.5rem;
                font-family: "Open-Sans", sans-serif;
                font-weight: 500;
                border: none;
                border: 1px solid $comodo-blue;
                &:focus {
                    outline: none;
                }
            }
        }
    }


.reservation--list {
    width: 100%;
    height: 90%;
    overflow: scroll;
}

.reservation {
    color: $comodo-blue-dark;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    background-color: white;
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 5px 5px 0;
    border-left: 3px solid $comodo-blue;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 10%);
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
        & .user-details {
            width: 40%;
            display: flex;
            flex-direction: column;
            .reservation--name{
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        & .user-people {
            width: 10%;
            font-size: 1.3rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        & .user-actions {
            width: 30%;
            display: flex;
            justify-content: space-around;
            & .fas {
                font-size: 1.8rem;
                color: $comodo-blue;
                &.fa-trash:hover {
                    color: red;
                }
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }

            }
        }
    &:hover {
        cursor: hand;
        transform: scale(1.02);
    }
}



.dot {
    background-color: $comodo-blue;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .fas {
        color: white;
        font-size: 2.2em;
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}