.menu {
    @include size(7rem, 100vh);
    @include flex(column, space-evenly, center);
    background-color: #353a54;
    z-index: 2;
    position: absolute;
    color: white;
    &__user {
        @include font(1.2rem);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > span {
            margin-top: 5px;
        }
    }
    &__actions, &__stats {
        @include flex(column, space-around, center);
        height: 25%;
        &-stat {
            @include flex(column, space-between, center);
            span {
                @include font(1.3rem);
                font-weight: 600;
                margin-top: .8rem;
            }
        }
    }
    .fas, .far {
        font-size: 2.5rem;
    }
    .hover {
        color: rgba(white, .5);
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.tooltip {
    position: relative;
    .tooltiptext {
        font-family: "Open Sans";
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 0 5px 5px 0;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        left: 3rem;
      }
  } 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }